<h1>Code challenge submitted</h1>
<dl>
  <dt>Name:</dt>
  <dd><%= @submission.student.name %></dd>
  <dt>Link:</dt>
  <dd><%= @submission.link %></dd>
  <dt>Grade:</dt>
  <dd><%= @submission.grade || "pending" %></dd>
</dl>