You have a pending code challenge: 

<ul>
  <li>
<a href="http://localhost:9393/whatever">Mod 2 code challenge</a>
</li>
<li>
<a href="http://localhost:9393/submissions/new">Submit Mod 2 code challenge</a>
</li>
</ul>