.splash {
  height: 92vh;
  overflow: hidden;
  position: relative;
}

.home {
  color: blue;
}
.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
}

.nav-buttons {
  flex-grow: 1;
}

.cities {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0.5vw;
}

.city-card {
  margin: 0.5vw;
  border-style: solid;
  border-radius: 1px;
  border-color: black;
  padding: 0.5vw;
  position: relative;
  text-align: center;
  color: white;
}

.image-wrapper {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.centered {
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}