<ul>
    <li>
      <label for="cat-name">Name:</label>
      <input id="cat-name" type="text" name="cat[name]" value="<%= @cat.name %>" >
    </li>
    <li>
      <label for="cat-tail-length">Tail Length:</label>
      <input id="cat-tail-length" type="number" name="cat[tail_length]" value="<%= @cat.tail_length %>" />
    </li>
    <li>
      <label for="cat-fluffiness">Fluffiness:</label>
      <input id="cat-fluffiness" type="number" name="cat[fluffiness]" value="<%= @cat.fluffiness %>" />
    </li>
  </ul>