

<h1>FORM FOR A NEW CAT</h1>

<form action="/cats" method="POST">
  <ul>
    <li>
      <label for="cat-name">Name:</label>
      <input id="cat-name" type="text" name="name">
    </li>
    <li>
      <label for="cat-tail-length">Tail Length:</label>
      <input id="cat-tail-length" type="number" name="tail_length">
    </li>
    <li>
      <label for="cat-fluffiness">Fluffiness:</label>
      <input id="cat-fluffiness" type="number" name="fluffiness">
    </li>
  </ul>

  <input type="submit" value="Make new cat" />

</form>


